@import "variables";

.backdrop {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0;
	pointer-events: none;
	box-sizing: border-box;
	transition: 0.25s all;
	z-index: 3;
}

.backdropVisible {
	opacity: 0.3;
	pointer-events: fill;
	cursor: pointer;
}
.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: white;
	padding: 30px;
	z-index: 4;
	opacity: 0;
	pointer-events: none;
	width: max(50vw, 320px);
	height: 400px;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	align-items: center;
	justify-content: center;
	border-radius: 10px;

	transition: 0.25s all;
	z-index: 3;
	box-sizing: border-box;
	margin: 0;
	padding: 10px 20px;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: $border-radius;
	}

	&::-webkit-scrollbar-thumb {
		background: rgb(202, 202, 202);
		border-radius: $border-radius;
		transition: 0.2s all;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #acacac;
	}
}

.modalVisible {
	opacity: 1;
	pointer-events: fill;
}
