@import "variables";

.signUpContainer {
	width: 100vw;
	height: 100vh;
	display: flex;

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.textSection {
		width: 40%;
		height: 100%;
		background: white;
		@include flex-center();
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		.logoImage {
			width: 100px;
			img {
				cursor: pointer;
				width: 100%;
				transform: translateY(30px);
			}
		}

		.signUpSection {
			display: flex;
			flex-direction: column;
			align-items: center;

			justify-content: space-evenly;

			h1 {
				text-align: center;
				font-size: 30px;
			}

			.googleSignIn {
				background: linear-gradient(to right, $red-primary-color, $red-light-color);
				height: 50px;
				width: 300px;
				@include flex-center();
				border-radius: $border-radius;
				color: white;
				font-weight: normal;
				cursor: pointer;

				img {
					width: 35px;
					height: 30px;
					margin-right: 10px;
				}
			}

			.emailSignIn {
				width: 200px;
				display: flex;
				flex-direction: column;
				align-items: center;
				// margin: 10px 0;

				p {
					opacity: 0.5;
					font-size: 15px;
					text-align: center;
				}

				.underline {
					text-decoration: underline;
					cursor: pointer;
				}

				.legal {
					font-size: 10px;
				}

				form {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					position: relative;
					margin: 0px 0 20px 0;
					font-size: 15px;

					div {
						position: relative;

						input {
							border: none;
							outline: none;
							background: $grey;
							width: 300px;
							margin: 5px 0;
							height: 30px;
							padding: 25px;
							font-size: 15px;
							border-radius: $border-radius;
							transition: 0.2s all;
							transform: translateY(0px);
						}

						.errorInput {
							border: red 1.5px solid;
							animation: shake .25s;
						}

						@keyframes shake {
							0% {
								transform: translateX(0);
							}
							15% {
								transform: translateX(20px);
							}
							30% {
								transform: translateX(0);
							}
							45% {
								transform: translateX(-20px);
							}
							60% {
								transform: translateX(0);
							}
							75% {
								transform: translateX(10px);
							}
							90% {
								transform: translateX(0);
							}
							100% {
								transform: translateX(-10px);
							}
						}

						img {
							width: 25px;
							height: 25px;
							bottom: 19px;
							right: 15px;
							position: absolute;
							cursor: pointer;
						}

						.label {
							position: absolute;
							left: 25px;
							transition: all 0.2s;
							font-weight: 300;
							z-index: 2;
							top: 17px;
							pointer-events: none;
							font-size: 15px;
							transform: translateY(1px);
						}
						.labelHover {
							left: 12px;
							transform: translateX(13px) translateY(-10px);
							font-size: 10px;
						}
					}

					.signUpError {
						text-align: 'center';
						width: '80%';
						font-size: "14px";
					}

					.submitEmailForm {
						background: linear-gradient(to right, $red-primary-color, $red-light-color);
						height: 40px;
						width: 200px;
						border-radius: $border-radius;
						@include flex-center();
						color: white;
						margin-top: 10px;
						cursor: pointer;
					}
				}
			}

			.switchToLogin {
				font-size: 15px;
				.loginBtn {
					color: $red-primary-color;
					cursor: pointer;
				}
			}
		}

		.copyright {
			font-size: 10px;
			opacity: 0.5;
		}
	}

	.slideshowSection {
		width: 60%;
		height: 100%;
		background: $grey;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 80%;
			height: 80%;
			object-fit: cover;
		}
	}

	@media only screen and (min-width: 768px) {
		.textSection {
			width: 50%;
		}

		.slideshowSection {
			width: 50%;
		}
	}

	@media only screen and (max-width: 767px) {
		.textSection {
			width: 100%;
		}

		.slideshowSection {
			display: none;
		}
	}
}
