@import "variables";

.workflowDeleteBtn {
	background: darken($grey, 20);
	width: 220px;
	font-size: 20px;
	color: black;
	padding: 8px 15px;
	margin-bottom: 20px;
	box-sizing: content-box;
	border-radius: $slight-border-radius;
	@include flex-center();
	margin-left: 50%;
	transform: translateX(-50%);
	cursor: pointer;

	&:hover {
		background: $red-primary-color;
		color: white;
	}

	.trashIcon {
		width: 18px;
		height: 18px;
		transform: translateY(-1px);
	}

	.deleteText {
		margin-left: 5px;
	}
}
